.container {
  height: 1023px;
  position: relative;
  padding: 0px;
  color: white;
}

.container::before {
  background-image: url(../assets/Cloud-background.png);
  opacity: 0.2;
  background-color: #1e213a;
  background-size: 120% 100%;
  background-repeat: repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  content: " ";
}

.btn {
  margin-top: 42px;
  margin-left: 46px;
  position: relative;
}

.icon {
  position: relative;
  padding: 9px;
  width: 40px;
  color: white;
  height: 40px;
  background: gray;
  border-radius: 50px;
  margin-top: 42px;
  margin-right: 46px;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.image {
  position: relative;
  margin-left: 120px;
  margin-top: 99px;
}

.temp {
  /* position: relative; */
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 144px;
  line-height: 169px;
  color: #e7e7eb;
  margin-top: 87px;
  /* margin-left: 150px; */
  font-family: "Raleway", sans-serif;
}

.celcius {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 169px;
  font-family: "Raleway", sans-serif;
}

.weather {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  width: 100%;
  color: #a09fb1;
  position: relative;
  display: inline-block;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #88869d;
  margin-bottom: 52px;
}

.city p {
  margin: 0px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  color: #88869d;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #88869d;
  margin-bottom: 10px;
}

.date p {
  margin: 0px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  color: #88869d;
}
