.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-body {
  background-color: #100e1d;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: white;
}

body {
  background-color: #100e1d;
}

.weather-now {
  padding: 0;
}

.intro {
  display: grid;
  justify-content: center;
}

.intro h1 {
  margin-top: 20px;
  height: 48px;
  text-align: center;
}

.intro img {
  width: 500px;
}

.list-item {
  list-style: none;
}

.title-highlights {
  margin-top: 72px;
  margin-left: 154px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #e7e7eb;
}

.second {
  padding: 0;
}

.highlights {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 32px;
}
.highlights_sm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 32px;
}

.bg-color {
  background-color: #ffec65;
}

.progress {
  height: 8px;
}

.spinner {
  margin-top: 20px;
  text-align: center;
}

.loadingContainer {
  display: flex;
  justify-content: center;
}

.temps {
  display: flex;
  justify-content: space-around;
}
